@mixin flexrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flexcol {
    display: flex;
    flex-direction: column;
}


@mixin page-layout ($Yaxis, $Xaxis){
    max-width: 1200;
    margin: $Yaxis $Xaxis;
}

@mixin menu-item ($accentColor: $color-grey){
    border-bottom: 8px solid $accentColor;
    color: $color-primary;
    @include responsive-tablet{
        padding:$indent__xl;
    }
 
    font: {
        family: $font-orbitron;
        size: 1.2rem;
        weight: 700 ;
    }
    
    color: $color-primary;

    text: {
       align: center;
       decoration: none; 
       transform: capitalize;
    }
    
   &:hover ,
   &.active {
    background-color: $accentColor;
   }
    
}

@mixin home-grid-article ($color) {
    @include flexcol;
    border: 1px solid black;
    @if ($color == $color-minsk) {
       color: $color-malibu;

       h3 {
        order: 2;
       }
       img {
        order: 1;
       }

    } @else if ($color == $color-torch-red){
       color: $color-white;
    } @else {
        color: $color-grey;
    } 
    text-align: center;
    font: {
        family: $font-orbitron
    }
    h3 {
        background-color: $color;
        margin: 0;
        padding: $indent__base 0;
    }
}
@mixin button-style($color: $color-torch-red){
    background-color: lighten($color, 40%);
    cursor:pointer;
    padding: $indent__base;
    border: 2px solid $color;
    color: $color;
    border-radius: 10px;
}

@mixin responsive-tablet {
    @media screen and (min-width: $breakpoint-tablet) {
        @content; 
    }
}
@mixin responsive-mobile {
    @media screen and (min-width: $breakpoint-mobile ){ 
        @content;
    }
}
